.card_film {
    position: relative;
    align-self: flex-start;
}

.card_img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

@media(min-width: 768px) {
    .card_film {
        flex-basis: 50%;
    }
}

@media(min-width: 1280px) {
    .card_film {
        flex-basis: 23%;
    }
}