.menu-link {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 35px;
    font-size: 13px;
    background-color: #4c4145;
    color: #b4b1b2;
    margin: 0;
}

.top_movie_title {
    display: none;
    font-size: 18px;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 700;
    background-color: #40373a;
    color: #ffffff;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;
    margin: 0;
}

.logo_link {
    text-decoration: none;
    color: antiquewhite;
}

.menu-a {
    text-decoration: none;
    color: #b4b1b2;
    cursor: pointer;
}

i {
    margin-right: 12px;
}

.menu-li {
    display: flex;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
}

.menu-span {
    margin-left: auto;
    background-color: #40373a;
    width: 30px;
    border-radius: 10%;
    text-align: center;
}

.logo {
    font-size: 18px;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 700;
    background-color: #40373a;
    color: #ffffff;
    text-transform: uppercase;
    padding: 25px 0 25px 80px;
    margin: 0;
}

li:hover>i {
    color: #ffffff;
}

li:hover>a {
    color: #ffffff;
}

li:hover>span {
    background-color: #fe505a;
    color: #ffffff;
}

.menu-a:hover {
    color: #ffffff;
}

li:last-child {
    margin-bottom: 0;
}

.hide {
    display: none;
}

.show {
    display: block;
    transition: 1s;
}

.fa-times-circle {
    position: absolute;
    top: 5%;
    right: 10%;
}

.fa-asymmetrik {
    position: absolute;
    color: #DCE51D;
    font-size: 20px;
    top: 25px;
    left: 11%;
} 

@media(min-width: 768px) {
    .hide {
        display: inline-block;
        position: static;
        width: 25%;
    }

    .fa-asymmetrik {
        left: 3%;
    }

     .fa-times-circle { 
        display: none;
    } 

    .menu-link {
        padding: 20px;
    }

    .logo {
        padding: 25px 0 25px 60px;
    }

    .top_movie_title {
        display: block;
    }

    .movies_top_rated {
        overflow-y: scroll;
        height: 40vh;
    } 
}

@media(min-width: 1280px) {
    .hide {
        display: inline-block;
        position: static;
        width: 20%;
    }

    .fa-asymmetrik {
        left: 2%;
    } 
}