.div_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    height: calc(100vh - 47px);
}

@media(min-width: 768px) {
    .div_grid {
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        height: calc(100vh - 47px);
    }
}

@media(min-width: 1280px) {
    .div_grid {
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        height: calc(100vh - 47px);
    }
}