.div_appear_hover {
    width: 100%;
    height: 100%;
    background-color: rgba(115, 115, 115, 0.5);
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    opacity: 0;
}

.div_appear_hover:hover {
    transition: 1s;
    opacity: 1;
}

.cover-button{
    width: 100%;
    position: absolute;
    top: 45%;
    left: 14%;
}

.hover_icon {
    font-size: 35px;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    transition: 1s;
    cursor: pointer;
    transition: 2s;
}

.hover_icon:hover {
    color: #1abc9c;
    border: none;
 }

.button_icon {
    background-color: transparent;
    border: none;
}

@media(min-width: 768px) {
    .cover-button{
        width: 100%;
        position: absolute;
        top: 43%;
        left: 4%;
    }

    .hover_icon {
        font-size: 27px;
    }
}

@media(min-width: 1280px) {
    .cover-button{
        width: 100%;
        position: absolute;
        top: 43%;
    }

    .hover_icon {
        margin: auto;
    }
}